USE [master]
GO
/****** Object:  Database [Tawanda]    Script Date: 2024/08/13 19:29:25 ******/
CREATE DATABASE [Tawanda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tawanda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tawanda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tawanda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tawanda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tawanda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tawanda]
GO
/****** Object:  Table [dbo].[Child_tbl]    Script Date: 2024/08/13 19:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Child_tbl](
	[Child_ID] [int] NOT NULL,
	[Child_LName] [varchar](15) NULL,
	[Child_FName] [varchar](15) NULL,
	[ID_Number] [char](13) NULL,
	[Arrival_Date] [datetime] NULL,
	[Accepted_Y/N] [bit] NULL,
	[Departure_Date] [datetime] NULL,
 CONSTRAINT [PK_Child_tbl] PRIMARY KEY CLUSTERED 
(
	[Child_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation Type]    Script Date: 2024/08/13 19:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation Type](
	[DonationT_ID] [int] NOT NULL,
	[Decsription] [varchar](50) NULL,
 CONSTRAINT [PK_Donation Type] PRIMARY KEY CLUSTERED 
(
	[DonationT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation_Details]    Script Date: 2024/08/13 19:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation_Details](
	[Donation_ID] [int] NOT NULL,
	[DonationT_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation_tbl]    Script Date: 2024/08/13 19:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation_tbl](
	[Donation_ID] [int] NOT NULL,
	[Sponsor_ID] [int] NOT NULL,
	[Datetime] [datetime] NULL,
	[Amount] [money] NULL,
	[Quantity] [varchar](10) NULL,
 CONSTRAINT [PK_Donation_tbl] PRIMARY KEY CLUSTERED 
(
	[Donation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SponsorTBL]    Script Date: 2024/08/13 19:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SponsorTBL](
	[Sponsor_ID] [int] NOT NULL,
	[Sponsor_LName] [varchar](15) NULL,
	[Sponsor_FName] [varchar](15) NULL,
	[Sponsor_EmailAddr] [varchar](30) NULL,
	[Sponsor_PhoneNo] [char](10) NULL,
 CONSTRAINT [PK_SponsorTBL] PRIMARY KEY CLUSTERED 
(
	[Sponsor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_2]    Script Date: 2024/08/13 19:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_2](
	[Donation_ID] [int] NOT NULL,
	[DonationT_ID] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
